* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

/* Navbar */
header {
    background: #020617;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Home */
.home {
    text-align: center;
    padding: 100px 20px;
}

.home span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Skills */
.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Projects */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}